@use "./colors.scss" as colors;

// Default: on screens wider than 1024 pixels.
main {
	.quote {
		color: colors.$color4;
	}
	.studio-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		justify-items: center;
		grid-gap: 2rem;
		margin-top: 3rem;
		> img {
			max-width: 256px;
		}
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	main {
		.studio-container {
			grid-template-columns: 1fr 1fr 1fr;
			#img-4 {
				grid-column: 2/3;
			}
		}
	}
}

@media (max-width: 768px) {
	main {
		.studio-container {
			grid-template-columns: 1fr 1fr;
		}
	}
}
